{
   "presets": [
     [
       "@babel/preset-env",
       {
        //  配置polyfill垫平浏览器环境
        "useBuiltIns":"usage",
        "corejs":3
       }
     ] 
    ],
    "plugins": [
        "@babel/plugin-transform-runtime"
    ]
   }